/*doc
---
title: Grid
name: grid
category: 01_base
---

The `container` class let's you set up a fixed width grid that is designed for the breakpoints.

```html_example
<div class="container">
  <div class="row">
    <div class="col-md-6 styleguide-column">1</div>
    <div class="col-md-6 styleguide-column">2</div>
  </div>
  <div class="row">
    <div class="col-md-4 styleguide-column">1</div>
    <div class="col-md-4 styleguide-column">2</div>
    <div class="col-md-4 styleguide-column">3</div>
  </div>
</div>
```

The `container-fluid` class let's you set up a fluid grid that spans over the full with of the page.

```html_example
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 styleguide-column">1</div>
    <div class="col-md-6 styleguide-column">2</div>
  </div>
  <div class="row">
    <div class="col-md-4 styleguide-column">1</div>
    <div class="col-md-4 styleguide-column">2</div>
    <div class="col-md-4 styleguide-column">3</div>
  </div>
</div>
```
*/

.container {
  @include make-container();
  @include make-container-max-widths();
}

.container-fluid {
  @include make-container();
}

.row {
  @include make-row();
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include make-grid-columns();
