body {
  font-family: $font-family-base;
}

span,
p {
  line-height: 1.5;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  color: $green-light;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.sr-only {
  display: none;
}

.font-size-s {
  font-size: $font-size-small;
}

.font-size-lg {
  font-size: $font-size-large;
}

.font-size-xl {
  font-size: $font-size-xl;
}

.font-size-xxl {
  font-size: $font-size-xxl;
}

.page-title {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: $font-size-xl;

  .status {
    display: block;
    margin-left: 0;
    margin-top: .5rem;

    @media (min-width: $screen-md) {
      display: inline-block;
      margin-left: .5rem;
      margin-top: 0;
    }
  }
}

.lead {
  font-weight: bold;
  font-size: 1.5rem;
}

.text-green {
  color: $green;
  fill: $green;
}

.text-black {
  color: $blue;
  fill: $blue;
}

.text-blue {
  color: $blue;
  fill: $blue;
}

.text-gray {
  color: $gray;
  fill: $gray;
}

.text-price {
  font-weight: bold;
}

.logo {
  color: white;
  position: relative;
  margin-right: .2rem;
  color: $brand-primary;

  .registered {
    color: $black;
  }

}

.strikethrough {
  position: relative;
  color: $gray;

  &:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: $brand-danger;
    position: absolute;
    bottom: 38%;
    left: 0;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
  color: white;

  &.circle-red {
    background-color: $red;
  }

  &.circle-blue {
    background-color: $blue;
  }
}

.product-price {
  font-size: $font-size-base;

  strong {
    font-size: $font-size-xxl;
  }

  small {
    font-size: $font-size-base;
  }
}
