<nav class="navbar" id="navbar" role="banner">
    <div class="container">
        <a href="/" class="navbar-brand">
            <span class="logo">&iexcl;</span>
        </a>
        <span class="navbar-brand">&reg;</span>
        <div class="navbar-menu hidden-sm">
            <ul class="nav nav-horizontal">
                {% for item in content['#items'] %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
