{% set iam = content['#items']['shop_menu.i_am'] %}
{% set loginlogout = content['#items']['shop_menu.i_am_login'] %}

<nav class="navbar" id="navbar" role="banner">
    <div class="container">
        <a href="/" class="navbar-brand">
            <span class="logo">&iexcl;</span>
        </a>
        <span class="navbar-brand">&reg;</span>
        <div class="navbar-menu hidden-sm">
            <ul class="nav nav-horizontal">
                {% for item in content['#items']|slice(0,-2) %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="navbar-right dropdown show">
            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="iamMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg role="img" class="icon">
                    <use xlink:href="#customer"></use>
                </svg>
                {% if iam|length > 0 %}
                    <span>Ik <span class="text-blue">Ben</span></span>
                {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="iamMenuLink">
                {% if loginlogout|length > 0 %}
                    <a class="dropdown-item" href="{{ loginlogout.url }}">{{ loginlogout.title }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
