<nav class="navbar" id="navbar" role="banner">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/{{ base_path ~ directory }}/logo.svg" alt="Mint & Puur logo" />
        </a>
        <div class="navbar-right hidden-sm">
            <ul class="nav nav-horizontal">
                {% for item in content['#items'] %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
