{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% set navbar_attributes = create_attribute() %}

<div class="jumbotron">
</div>

<main role="main" class="container page-offline">
  <article class="region region-content">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">
          <span class="logo">¡<sup>©</sup></span> aan het werk.
        </h1>

        {# Content editable through /admin/config/development/maintenance #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}

        <p>
          <a href="https://community.ben.nl/" target="_blank">
            <svg role="img" class="icon">
              <use xlink:href="#community"></use>
            </svg>
          </a>
          <a href="https://twitter.com/benwebcare" target="_blank">
            <svg role="img" class="icon">
              <use xlink:href="#twitter"></use>
            </svg>
          </a>
          <a href="https://www.youtube.com/channel/UCCj8UzZ9CLE9ZkMMb0TJdhQ" target="_blank">
            <svg role="img" class="icon">
              <use xlink:href="#youtube"></use>
            </svg>
          </a>
          <a href="https://www.facebook.com/groetenvanBen" target="_blank">
            <svg role="img" class="icon">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
          <a href="https://instagram.com/groetenvanben/" target="_blank">
            <svg role="img" class="icon">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
        </p>

        <p>{% trans %} Copyright © 2018 Ben.nl {% endtrans %}</p>
      </div>
    </div>
  </article>
</main>
