<article class="workshop">

  <h2 class="workshop__title"><a href="{{ url }}">{{ label }}</a></h2>

  <div class="workshop__location">
    {{ content.field_location[0] }}
  </div>

  <div class="workshop__workshop_type">
    {{ content.field_workshop_type[0] }}
  </div>

</article>
