/*doc
---
title: Badge
name: badge
category: 02_atoms
---


```html_example
<p>Example sentence with badge <span class="badge badge-success badge-s">13</span></p>
<p>Example sentence with badge <span class="badge badge-danger">13</span></p>
<p>Example sentence with badge <span class="badge badge-black badge-s">6x voordeliger</span></p>
<p>Example sentence with badge <sup class="badge badge-danger badge-s">13</sup></p>
<p>PostNL briefpost <span class="badge badge-success badge-emphasized pull-right">1 werkdag</span></p>
<p>Koerier aan huis <span class="badge badge-default pull-right">3 werkdagen</span></p>
```

*/

.badge {
  border-radius: $border-radius-base;
  text-align: center;
  padding: .20rem .4rem;
}

.badge-s {
  font-size: $font-size-small;
}

.badge-emphasized {
  font-weight: bold;
}

.badge-black {
  background-color: $text-color;
  color: $white;
}

.badge-danger {
  background-color: $brand-danger;
  color: $white;
}

.badge-success {
  background-color: $brand-success;
  color: $white;
}

.badge-default {
  background-color: $gray-lighter;
}
