@keyframes btn-loader {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: $border-radius-base;
  border: 0;
  font-size: $font-size-large;
  font-weight: bold;
  outline: none;
  position: relative;
  color: white;
  user-select: none;
  transition: .2s background-color ease;
  text-align: center;
  overflow: hidden;

  &:after {
    transition: .2s background-color ease;
  }

  &:focus,
  &:hover {
    outline: 0;
    text-decoration: none;
  }

  &:not([disabled]):not(.disabled):focus {
    outline: 0;
    box-shadow: none;
  }

  svg,
  path,
  g {
    color: white;
    fill: white;
  }

  strong ~ * {

  }

  .icon {
    fill: $text-color;
  }

  &.has-arrow {
    padding: .5rem 2rem .5rem 1rem;

    .icon {
      height: 15px;
      width: 15px;
      position: absolute;
      left: 1rem;
      top: 50%;
      margin-top: -7.5px;
      transform: rotate(180deg);
      fill: $black;
    }

    .icon + span {
      margin-left: 1.5rem;
    }

    span + .icon {
      left: auto;
      right: .5rem;
      transform: rotate(0deg);
    }
  }

}

.btn-link {
  color: $text-color;
  background-color: transparent;
}

.btn-navbar {
  padding: 11px 1rem 10px;
  margin: .5rem 0;
}

.btn-white {
  background-color: $white;
  color: $text-color;
}

.btn-default {
  background-color: $gray-lighter;
  color: $text-color;

  &.has-arrow .icon {
    fill: $blue;
  }
}

.btn-primary {
  background-color: $black;
  color: $white;

  .icon {
    fill: $white;
  }

  &.has-arrow .icon {
    fill: $blue;
  }

  @include add-button-states($black);

  &.btn-loader.btn-is-loading,
  &.btn-loader.btn-is-loading:focus {
    background-color: lighten($black, 35%);

    &:after {
      background-color: lighten($black, 35%);
    }

    &:before {
      background-color: $black;
    }

  }
}

.btn-info {
  background-color: $alert-info-bg;
  color: $alert-info-text;
  box-shadow: inset 0 -3px 0 0 darken($alert-info-bg, 10%);

  @include add-button-states($alert-info-bg);

  &.btn-loader.btn-is-loading,
  &.btn-loader.btn-is-loading:focus {
    background-color: lighten($alert-info-bg, 5%);

    &:before {
      background-color: darken($alert-info-bg, 10%);
    }
  }
}

.btn-danger {
  background-color: $brand-danger;
  box-shadow: inset 0 -3px 0 0 darken($brand-danger, 10%);

  @include add-button-states($brand-danger);
}

.btn-success {
  background-color: $brand-success;
  box-shadow: inset 0 -3px 0 0 darken($brand-success, 10%);

  @include add-button-states($brand-success);
}

.btn-icon {
  background-color: $gray-lighter;
  border-radius: $border-radius-base;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;

  .icon {
    display: block;
    margin: auto;
    height: 40px;
    width: 40px;
    margin-bottom: 1rem;

    &.ajax-throbber {
      display: none;
    }
  }
}

.btn-indicator {
  overflow: initial;

  &:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(-45deg) scale(0);
    background-color: $black;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -7px;
    z-index: 0;
    transition: 200ms transform, 200ms background-color;
  }

  &.btn-indicator-active:after {
    transform: rotate(-45deg) scale(1);
  }

}

.btn-loader.btn-is-loading {
  cursor: progress;
  box-shadow: none;
  background-color: $gray-lighter;
  color: $white;

  &:focus {
    box-shadow: none;
    background-color: $gray-lighter;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    width: 30%;
    height: 3px;
    left: 0;
    top: 0;
    padding: 0;
    background-color: $gray-light;
    box-sizing: border-box;
    animation: btn-loader 1s infinite;
  }

  .icon,
  &.has-arrow .icon {
    fill: white;
  }
}

.btn-s {
  padding: .3rem .5rem;
  font-size: $font-size-small;
}

.btn-l {
  padding: 1rem;

  @media (min-width: $screen-md) {
    font-size: 1.2rem;
  }
}

.btn-block {
  width: 100%;
}

*[disabled],
.disabled {
  cursor: not-allowed !important;
  opacity: .5;
}
