.banner {
  display: block;
  height: 64px;
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: $zindex-navbar;
  border-bottom: 1px solid $gray-lighter;

  & + .navbar-fixed {
    top: 64px;
  }
}

.banner-geldlenenkostgeld {
  background-image: url(../images/banner-glkg.jpg);
  background-size: auto 50%;
  background-position: center center;
  background-repeat: no-repeat;


  @media (min-width: $screen-md) {
    background-size: auto 70%;
  }
}