/*doc
---
title: Collapse
name: collapse
category: 03_molecules
---


```html_example
<a class="btn btn-link btn-s collapse-toggle" data-toggle="collapse" href="#collapseContent1" role="button" aria-expanded="false" aria-controls="collapseContent1">
  This is the collapsible content trigger
</a>

<div class="collapse fade" id="collapseContent1">
  This is the collapsed content.
</div>
```

```html_example
<a class="btn btn-link btn-s collapse-toggle" data-toggle="collapse" href="#collapseContent2" role="button" aria-expanded="false" aria-controls="collapseContent2">
  This is the collapsible content trigger
</a>

<div class="collapse no-collapse" id="collapseContent2">
  This is the collapsed content.
</div>
```

*/

.collapse-toggle {
  display: block;
  color: $text-color;
  margin-bottom: 1rem;
  position: relative;
  padding-right: 1.3rem;
  cursor: pointer;

  .text-price {
    font-size: 23px;
    margin-top: -10px;
  }

  &:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid $text-color;
    border-left: 0;
    border-top: 0;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -6px;
    transform: rotate(-135deg);
  }

  &.collapsed:after {
    transform: rotate(45deg);
  }

}

.collapsing.no-collapse {
  transition: none !important;
  display: none !important;
}
