.input-group {
  displaY: flex;
}

.input-group .form-control {


  & + .input-group-addon {
    padding-left: .5rem;
    padding-right: 0;
  }
}

.input-group-addon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: .5rem;
}