/*doc
---
title: List
name: list
category: 03_molecules
---

```html_example
<ul class="list">
  <li>This is the default list</li>
  <li>With normal styles per line</li>
  <li>And some other content here</li>
</ul>

<ol class="list">
  <li>This is the default list</li>
  <li>With normal styles per line</li>
  <li>And some other content here</li>
</ol>
```

```html_example
<ul class="list list-unstyled">
  <li class="">
    <a href="" class="btn btn-block has-arrow btn-white">
      <span>Abonnement wijzigen</span>
      <svg role="img" class="icon">
        <use xlink:href="#arrow"></use>
      </svg>
    </a>
  </li>
  <li class="">
    <a href="" class="btn btn-block has-arrow btn-white">
      <span>Abonnement wijzigen</span>
      <svg role="img" class="icon">
        <use xlink:href="#arrow"></use>
      </svg>
    </a>
  </li>
  <li class="">
    <a href="" class="btn btn-block has-arrow btn-white">
      <span>Abonnement wijzigen</span>
      <svg role="img" class="icon">
        <use xlink:href="#arrow"></use>
      </svg>
    </a>
  </li>
</ul>
```

```html_example
<div class="list list-empty">

</div>
```

```html_example
<ul class="list list-checkboxes">
  <li>This is the default list</li>
  <li>With normal styles per line</li>
  <li>And some other content here</li>
</ul>

<ul class="list list-disc">
  <li>This is the default list</li>
  <li>With normal styles per line</li>
</ul>

<ul class="list list-square">
  <li>This is the default list</li>
  <li>With normal styles per line</li>
</ul>
```

```html_example
<ul class="list list-unstyled">
  <li>This is the default list</li>
  <li>With normal styles per line</li>
  <li>And some other content here</li>
</ul>
```

```html_example
<ul class="list list-checkboxes">
  <li>This is the default list</li>
  <li>With normal styles per line</li>
  <li>And some other content here</li>
</ul>
```

```html_example
<ul class="list list-inline list-unstyled list-checkout">
  <li>
    <a href="">Gegevens</a>
  </li>
  <li class="active">
    <a href="">Legitimatie</a>
  </li>
  <li class="disabled">
    <a href="">Controle</a>
  </li>
</ul>
```

```html_example
<ul class="list list-inline list-unstyled list-social">
  <li>
    <a href="">
      <svg role="img" class="icon">
        <use xlink:href="#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="">
      <svg role="img" class="icon">
        <use xlink:href="#twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="">
      <svg role="img" class="icon">
        <use xlink:href="#instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="">
      <svg role="img" class="icon">
        <use xlink:href="#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
```
*/

.list {
  padding: 0;
  padding-left: 20px;
}

.list-disc {
  list-style: disc;
}

.list-square {
  list-style: square;
}

.list-inline {
  display: flex;

  li {
    flex: 1 0 auto;
  }
}

.list-unstyled {
  list-style: none;
  padding: 0;

  li {
    list-style: none;
  }
}

.list-stores {
  display: flex;

  li {
    flex: 1 1 50%;
    max-width: none;
    float: none;

    &:first-child {
      padding-right: 6px;
    }

    a {
      display: block;
      font-size: 0;
      width: 100%;
      height: 63px;
      background-image: url('../images/logo-appstore.png');
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-width: $screen-md) {
        background-image: url('../images/logo-appstore-dark.png');
        height: 50px;
      }
    }

    &:last-child a {
      background-image: url('../images/logo-googleplay.png');

      @media (min-width: $screen-md) {
        background-image: url('../images/logo-googleplay-dark.png');
      }
    }
  }
}

.list-downloads {

}

.list-social {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 0 !important;

  li {
    display: inline-block;
    a {
      margin: 0 .5rem;
    }
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.list-checkboxes {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 20px;

    &:before {
      box-sizing: content-box;
      position: absolute;
      content: '';
      display: inline-block;
      transition: $transition-speed opacity $transition-type;
      width: 9px;
      height: 5px;
      margin-right: 1rem;
      background-color: transparent;
      border: 3px solid $brand-primary;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      left: 0;
      top: 4px;
    }
  }
}

.list-inline {
  width: 100%;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  li {
    text-align: center;
    padding: 0 .5rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }

  }
}

.list-item {
  border-bottom: 1px dashed $gray-light;

  &:last-child {
    border: none;
  }

  .list {

    .list-item {

      a {
        color: $gray;
      }
    }
  }
}

.list-checkout {
  display: flex;
  width: auto;
  margin: -1rem 0;

  @media (min-width: $screen-md) {
    margin: -1.5rem 0;
  }

  li {
    flex: 1 0 calc(100% / 3);
    display: inline-flex;
    position: relative;

    &.active a {
      border-bottom: 4px solid $brand-primary;
    }

    &.disabled a,
    &.disabled span {
      color: $gray-light;
      cursor: not-allowed;

      &:before {
        background-color: $white ;
        color: $gray-light;
        border-color: $gray-light;
      }
    }

    &:after {
      content: "▶";
      font-size: $font-size-small;
      color: $gray-light;
      position: absolute;
      right: .5rem;
      top: 50%;
      margin-top: -10px;
    }

    &:last-child:after {
      display: none;
    }
  }

  li:nth-child(1) a:before,
  li:nth-child(1) span:before {
    content: "1";
  }

  li:nth-child(2) a:before,
  li:nth-child(2) span:before {
    content: "2";
  }

  li:nth-child(3) a:before,
  li:nth-child(3) span:before{
    content: "3";
  }

  a,
  span {
    display: inline-block;
    padding: .5rem 0;
    font-size: $font-size-base;
    color: $text-color;
    font-weight: bold;
    width: auto;
    text-align: left;
    padding-right: 1rem;

    @media (min-width: $screen-md) {
      font-size: $font-size-large;
      padding: 1rem 0;
    }

    &:hover {
      text-decoration: none;
    }

    &:before {
      content: "1";
      position: relative;
      top: 3px;
      border: 2px solid $text-color;
      display: inline-block;
      margin-right: .5rem;
      width: 18px;
      height: 18px;
      font-size: 10px;
      text-align: center;
      font-family: $font-family-base;
      background-color: $text-color;
      color: $white;
      border-radius: 50%;
      float: left;

      @media (min-width: $screen-md) {
        font-size: $font-size-small;
        width: 20px;
        height: 20px;
      }
    }

  }
}
