/*doc
---
title: Panel
name: panel
category: 03_molecules
---

```html_example
<section class="panel panel-default">
  <h2 class="panel-title">Welkom bij Ben!</h2>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</section>

<section class="panel panel-white">
  <h2 class="panel-title">Welkom bij Ben!</h2>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</section>

<section class="panel panel-blue">
  <h2 class="panel-title">Welkom bij Ben!</h2>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</section>
```


```html_example
<section class="panel panel-white">
  <div class="panel-header panel-header-blue">
    <a href="#" target="_blank">
        <img src="../assets/images/banner-peter-rabbit.jpg" alt="Ad for the Peter Rabbit movie">
    </a>
  </div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</section>
```
*/

.panel {
  width: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;

  @media (min-width: $screen-md) {
    border-radius: $border-radius-small;
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem;

    &.col-md-6:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    & + .panel {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  img {
    margin-bottom: 1rem;
  }
  p img {
    margin-bottom: 0;
  }
}

.panel-title {
  font-size: 1.5rem;
  margin-top: 0;
  border-bottom: 2px solid $black;

  .icon {
    width: 16px;
    height: 16px;
    margin-right: .5rem;
  }

  @media (min-width: $screen-md) {
    font-size: 2rem;
    margin-top: 1rem;

    .icon {
      width: 23px;
      height: 23px;
      margin-right: 1rem;
    }
  }
}

.panel-teaser {
  font-size: 1.2rem;
  font-weight: bold;

  @media (min-width: $screen-md) {
    font-size: 2.5rem;
  }
}

.panel-header {
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem 1rem 0 1rem;
  width: auto;
  margin-bottom: 1rem;

  @media (min-width: $screen-md) {
    border-top-left-radius: $panel-border-radius;
    border-top-right-radius: $panel-border-radius;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1.5rem;
  }

  &.has-image {
    background-size: cover;
    background-position: center center;
    min-height: 180px;
  }
}

.panel-header-blue {
  background-color: $blue;
}

.panel-header-green {
  background-color: $green;
}

.panel-header-red {
  background-color: $red;
}

.panel-gray {
  background-color: $gray-lighter;
}

.panel-default {
  background-color: $panel-default-bg;

  .panel-title {
    color: $text-color;
    border-bottom: 2px solid $text-color;
  }

  .panel-body {
    color: $text-color;
    max-width: $screen-md;
    margin: auto;
  }
}


.panel-white {
  background-color: $panel-white-bg;

  .panel-title {
    color: $text-color;
    margin-top: 0;
  }

  .panel-body {
    color: $text-color;
  }
}

.panel-blue {
  background-color: $brand-primary;

  .panel-title {
    color: $text-color;

    .logo {
      color: $white;
    }
  }

  .panel-teaser {
    color: $white;
  }

  .panel-body {
    color: white;
  }
}

.panel-bordered {
  border: 3px solid $gray-lighter;
  margin: 1rem 0;
  padding: 2rem;
  border-radius: $border-radius-small;
  position: relative;
  background: $white;

  &.panel-indication-left:before{
    content: '';
    display: block;
    background: $white;
    border: 3px solid $gray-lighter;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
  }

  &.panel-indication-left:before {
    left: 30px;
  }

}
