.phone-display {
  position: relative;

  &.phone-horizontal {

    img {
      width: 60%;
    }

    img:nth-child(2) {
      position: absolute;
      left: 40%;
    }
  }

  &.phone-perspective {
    padding-bottom: 15%;

    img {
      width: 40%;
    }

    img:nth-child(2) {
      position: absolute;
      left: 50%;
      margin-top: 15%;
    }
  }

}
