.brand-primary {
  background-color: $brand-primary;
}

.brand-danger {
  background-color: $brand-danger;
}

.brand-success {
  background-color: $brand-success;
}

.brand-info {
  background-color: $brand-info;
}

.brand-warning {
  background-color: $brand-warning;
}

.brand-blue {
  background-color: $blue;
}

.brand-red {
  background-color: $red;
}

.brand-green {
  background-color: $green;
}

.brand-white {
  background-color: $white;
}

.brand-black {
  background-color: $black;
}

.brand-yellow {
  background-color: $yellow;
}

.brand-blue-dark {
  background-color: $blue-dark;
}
