// Colors
$mint: #ACDCD2;
$green-light: #A1C7BA;
$brown-light: #E4E5D5;
$blue: #00aeef;
$red: #d01040;
$green: #39CC4E;
$white: #FFFFFF;
$black: #000000;
$yellow: #faebcc;
$purple: #424986;

$blue-light: #d9edf7;
$blue-dark: #31708f;

$gray-darker: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #D8D8D8;
$gray-lighter: #EFEFEF;

$brand-primary: $purple;
$brand-danger: $red;
$brand-success: $green;
$brand-info: $blue-light;
$brand-warning: $yellow;

$text-color: $black;

// Font & typography
$font-family-base: 'PT Sans Narrow', sans-serif;
$font-family-heading: 'Breamcatcher', Arial, sans-serif;
$font-family-monospace: 'Consolas', 'Courier';
$font-size-small: 12px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-xl: 23px;
$font-size-xxl: 33px;

$line-height-base: 1.5;
$line-height-computed: 14px;

// Transitions
$transition-speed: .2s;
$transition-type: ease-in-out;
$transition-base: all $transition-speed ease-in-out !default;
$transition-fade: opacity $transition-speed linear !default;
$transition-collapse: height $transition-speed ease !default;

// Code
$code-color: $brand-danger;
$code-bg: $gray-lighter;

$pre-color: $gray;
$pre-bg: $gray-lighter;
$pre-border-color: $gray-light;
$pre-scrollable-max-height: 250px;


// Borders
$border-radius-base: 5px;
$border-radius: $border-radius-base;
$border-radius-small: 3px;
$border-radius-large: 10px;

// Panels
$panel-border-radius: $border-radius-small;
$panel-default-bg: transparent;
$panel-white-bg: $white;

$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1140px;

// Grid
$grid-breakpoints: (
        xs: $screen-xs,
        sm: $screen-sm,
        md: $screen-md,
        lg: $screen-lg,
        xl: $screen-xl
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
        md: $screen-md,
        lg: $screen-lg,
        xl: $screen-xl
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12 !default;
$grid-gutter-width: 2rem !default;

// Jumbotron
$jumbotron-padding: 1rem;
$jumbotron-bg: $brand-primary;

// Footer
$footer-padding: 1rem;
$footer-bg: transparent;
$footer-color: $text-color;

$input-bg: white;
$input-border-radius: $border-radius-base;
$input-focus-border-color: $brand-primary;
$input-focus-color: $text-color;
$input-focus-bg: white;
$input-color: $text-color;
$input-transition: border-color $transition-speed $transition-type, box-shadow $transition-speed $transition-type !default;
$input-disabled-bg: $gray-lighter;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .15) !default;
$dropdown-border-radius:            $border-radius-base;
$dropdown-border-width:             1px !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:               $gray-lighter !default;
$dropdown-link-hover-color:         darken($gray-lighter, 5%) !default;
$dropdown-link-hover-bg:            $gray !default;

$dropdown-link-active-color:        $black !default;
$dropdown-link-active-bg:           $gray-lighter !default;

$dropdown-link-disabled-color:      $gray-light !default;
$dropdown-divider-bg:               $gray-light !default;

// Caret
$caret-width:                       .3em !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-background:           1035 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;
$zindex-tiny-cart:                  1080 !default;
$zindex-navbar:                     1080 !default;
$zindex-mobile-menu:                1090 !default;

// Close
$close-font-size:                   $font-size-base * 1.5 !default;
$close-font-weight:                 bold !default;
$close-color:                       $black !default;
$close-text-shadow:                 0 1px 0 $white !default;

// Alerts
$alert-success-bg: #dff0d8;
$alert-success-border: #d6e9c6;
$alert-success-text: #3c763d;

$alert-info-bg: #d9edf7;
$alert-info-border: #bce8f1;
$alert-info-text: #31708f;

$alert-warning-bg: #fcf8e3;
$alert-warning-border: #faebcc;
$alert-warning-text: #8a6d3b;

$alert-danger-bg: #f2dede;
$alert-danger-border: #ebccd1;
$alert-danger-text: #a94442;

$alert-default-bg: $gray-lighter;
$alert-default-border: $gray-light;
$alert-default-text: $gray-dark;

// Modals

$modal-backdrop-bg: rgba(0,0,0,0.5);
$modal-content-bg: $white;

// Carousel

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      $black !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  $font-size-base !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             $gray-lighter !default;

$carousel-caption-color:                      #fff !default;

// Tables
$table-cell-padding:          .5rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-bg:                    $white !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          1px !default;
$table-border-color:          $gray-light!default;

$table-head-bg:               $gray-darker !default;
$table-head-color:            $white !default;

$table-striped-order:         odd !default;

$table-caption-color:         $gray-light !default;

// Tooltips
$tooltip-max-width:           200px !default;
$tooltip-color:               #fff !default;
$tooltip-bg:                  $brand-primary !default;
$tooltip-opacity:             .9 !default;
$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;

// Nav
$nav-link-padding-y:                      .5rem;
$nav-link-padding-x:                      1rem;
$nav-link-disabled-color:                 $gray;

// Tabs
$nav-tabs-border-width:                   1px;
$nav-tabs-border-color:                   $gray-light;
$nav-tabs-border-radius:                  $border-radius-small;
$nav-tabs-link-hover-border-color:        $gray-light $gray-light $white;
$nav-tabs-link-active-color:              $black;
$nav-tabs-link-active-bg:                 $white;
$nav-tabs-active-link-hover-color:        $gray-light;
$nav-tabs-active-link-hover-bg:           $white;
$nav-tabs-link-active-border-color:       $gray-light $gray-light $white;

// Pills
$nav-pills-border-radius:                 $border-radius-small;
$nav-pills-link-active-color:             $white;
$nav-pills-link-active-bg:                $brand-primary;
$nav-pills-active-link-hover-color:       $gray-lighter;
$nav-pills-active-link-hover-bg:          $gray-lighter;

// Popovers
$popover-bg:                              white !default;
$popover-max-width:                       276px !default;
$popover-border-color:                    rgba(0,0,0,.2) !default;
$popover-fallback-border-color:           $gray-light !default;

$popover-title-bg:                        $gray-lighter !default;

$popover-arrow-width:                     10px;
$popover-arrow-color:                     $popover-bg !default;

$popover-arrow-outer-width:               ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:               fade_in($popover-border-color, 0.05) !default;
$popover-arrow-outer-fallback-color:      darken($popover-fallback-border-color, 20%) !default;
