.region-content {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: $border-radius-base;

  @media (min-width: $screen-md) {
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
